<template>
    <div class="row container d-flex align-items-center text-center justify-content-center mt-5">
        <div class="col-4">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>TEAMS</th>
                        </tr>
                    </thead>
                    <tbody v-if="teams.length > 0">
                        <tr v-for="(team,key) in teams" :key="key">
                            <td>{{ team.name }}</td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <tr>
                            <td colspan="4" align="center">No Teams Found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button v-if="!isFixtureArranged" @click="generateSchedule" type="button" class="btn btn-primary">GENERATE FIXTURE</button>
            <router-link v-if="isFixtureArranged" to="/fixture" tag="button" class="btn btn-primary">GO TO FIXTURE</router-link>
        </div>
    </div>
</template>
<script>
export default {
    name: "home",
    data() {
        return {
            teams: [],
            isFixtureArranged: false
        }
    },
    mounted() {
        this.getTeams();
        this.getConfig()
    },
    methods: {
        async getTeams() {
            await this.axios.get('/api/v1/teams/get').then(response => {
                this.teams = response.data
            }).catch(error => {
                console.log(error)
                this.teams = []
            })
        },
        generateSchedule(){
            this.axios.get('/api/v1/schedule/generate').then(response => {
                if(response.data.success){
                    this.$router.push('/fixture')
                }
            }).catch(error => {
                console.log(error)
                this.teams = []
            })
        },
        getConfig(){
            this.axios.get('/api/v1/config').then(response => {
                this.isFixtureArranged = response.data.isFixtureArranged
            }).catch(error => {
                console.log(error)
            })
        }
    }
}
</script>
