<template>
    <div class="row">
        <div class="col-4">
            <div class="container text-center">
                <h4>STANDINGS</h4>
                <hr>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="alert alert-info">
                        <tr>
                            <th>TEAM NAME</th>
                            <th>P</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>GD</th>
                        </tr>
                    </thead>
                    <tbody v-if="standings.length > 0">
                        <tr v-for="(standing,key) in standings" :key="key">
                            <td><b>{{ standing.team_name }}</b></td>
                            <td>{{ standing.points }}</td>
                            <td>{{ standing.win }}</td>
                            <td>{{ standing.drawn }}</td>
                            <td>{{ standing.lost }}</td>
                            <td>{{ standing.goal_diff }}</td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <tr>
                            <td colspan="4" align="center">No Teams Found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="container text-center">
                <h4>GAMES</h4>
                <hr>
            </div>
            <div class="card" style="min-height: 210px">
                <div class="card-header text-center">
                    <h3>WEEK {{initWeekId}}</h3>
                </div>
                <div class="card-body mt-3">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="(game,key2) in weekGames" :key="key2">
                            <div v-if="game.home_team_statistics && game.home_team_statistics.red_card" class="badge bg-danger text-wrap"> R </div>
                            <span>{{ game.home_team_name }}</span> {{ game.home_team_statistics ? game.home_team_statistics.score : '' }}
                            x
                            {{ game.away_team_statistics ? game.away_team_statistics.score : '' }} {{ game.away_team_name }}
                        </li>
                    </ul>
                </div>
            </div>

            <br>

            <button :disabled="this.initWeekId === 1" @click="getPreviousWeekGames" class="btn btn-primary">< PREVIOUS WEEK</button>
            <button @click="playGames" class="btn btn-primary" :disabled="loading || (!configData.isPreviousWeekPlayed || configData.isCurrentWeekPlayed)">SIMULATE</button>
            <button :disabled="configData.isLastWeek" @click="goToNextWeek" class="btn btn-primary">NEXT WEEK ></button>
        </div>
        <div class="col-4">
            <div class="container text-center">
                <h4>PREDICTIONS</h4>
                <hr>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="alert alert-primary">
                    <tr>
                        <th>TEAM NAME</th>
                        <th>PREDICTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(prediction,key) in predictions" :key="key">
                        <td><b>{{ key }}</b></td>
                        <td>% {{ prediction }}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <button @click="isPlayAll = true;playGames()" class="btn btn-warning mt-2">SIMULATE ALL GAMES</button>
            <button @click="resetFixture" class="btn btn-danger mt-2 float-end">RESET ALL</button>
        </div>
        <div v-if="loading" class="mt-2">
            <div class="spinner-border text-primary" role="status"></div> LOADING....
        </div>
    </div>
</template>
<script>
export default {
    name: "simulation",
    data() {
        return {
            standings: [],
            predictions: [],
            weekGames: [],
            initWeekId: 1,
            configData: [],
            test: false,
            loading: false,
            isPlayAll: false,
        }
    },
    mounted() {
        this.getStandings();
        this.getPredictions();
        this.getWeekGames();
        this.getConfigData()
    },
    methods: {
        async getStandings() {
            await this.axios.get('/api/v1/standings/get').then(response => {
                this.standings = response.data.standings
            }).catch(error => {
                console.log(error)
                this.standings = []
            })
        },
        async getPredictions() {
            await this.axios.get('/api/v1/standings/predictions').then(response => {
                this.predictions = response.data.predictions
            }).catch(error => {
                console.log(error)
                this.predictions = []
            })
        },
        async getWeekGames() {
            await this.axios.get('/api/v1/games/get-week-games/' + this.initWeekId).then(response => {
                this.weekGames = response.data
            }).catch(error => {
                console.log(error)
            })
        },
        async getConfigData() {
            await this.axios.get('/api/v1/config-simulation/' + this.initWeekId).then(response => {
                this.configData = response.data
            }).catch(error => {
                console.log(error)
            })
        },
        async playGames() {
            this.loading = true;
            let url = '/api/v1/simulation/play-games/' + this.initWeekId;
            if (this.isPlayAll){
                url += '/1';
            }
            await this.axios.get(url).then(response => {
                if (response.data.status) {
                    this.getWeekGames();
                    setTimeout(() => this.waitProcess(), 3000);
                }
            }).catch(error => {
                console.log(error)
            })
        },
        async getPreviousWeekGames() {
            let weekId = this.initWeekId - 1;
            await this.axios.get('/api/v1/games/get-week-games/' + weekId).then(response => {
                this.weekGames = response.data
                this.initWeekId -= 1;
                this.getConfigData();
            }).catch(error => {
                console.log(error)
            })
        },
        async goToNextWeek() {
            let weekId = this.initWeekId + 1;
            await this.axios.get('/api/v1/games/get-week-games/' + weekId).then(response => {
                this.weekGames = response.data
                this.initWeekId += 1;
                this.getConfigData();
            }).catch(error => {
                console.log(error)
            })
        },
        async resetFixture() {
            await this.axios.get('/api/v1/schedule/reset').then(response => {
                this.$router.push('/')
            }).catch(error => {
                console.log(error)
            })
        },
        waitProcess() {
            if (!this.configData.isLastWeek) {
                this.initWeekId += 1;
            }

            if(this.isPlayAll){
                this.initWeekId = 6;
            }

            this.getWeekGames();
            this.getStandings();
            this.getConfigData();
            this.getPredictions();
            this.loading = false;
        }
    }
}
</script>
